# MQTT-yhteys
MQTT_USER=kayttajanimi
MQTT_PASS=salasana
MQTT_HOST=broker.osoite.com
MQTT_PORT=1883
MQTT_TOPIC=labra/occupancy

# MongoDB-yhteysosoite
MONGODB_URI=mongodb+srv://kayttaja:salasana@klusteri.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=aiot_occupancy
MONGODB_COLLECTION=occupancy
